<div style="width: 90%; padding-left: 75px;">

{% assign service_count = 0 %}
{% assign path_count = 0 %}
{% assign apijson = site.data.apis %}
{% assign contents = site.data.api-commons %}

{% for api in apijson.include %}

  {% assign path = api.url  | replace: site.raw_url,'' %}
  {% assign path = path  | replace: '/apis.yaml','' %}

  {% for api in contents %}

    {% assign api_name = api[0] %}
    {% assign folder = api[1] %}

    {% if api_name == path %}

      <!--- Begin --->

      {% for item in folder %}

        {% assign item_name = item[0] %}

        {% if item_name == 'apis' %}

          {% assign apijson = item[1] %}

          {% assign api_name = apijson.name %}
          {% assign api_description = apijson.description %}
          {% assign api_image = apijson.image %}
          {% assign api_json_url = apijson.url %}

              {% assign service_count = service_count | plus: 1 %}
              <p><img src="{{ api_image }}" width="100" style="padding: 10px;" align="left" /></p>
              <p><span style="font-size: 14px; font-weight: bold">{{ api_name }}</span><br /><span style="font-size: 12px;">{{ api_description }}</span><p>

              <ul>
              {% for common in apijson.x-common %}
                <li><a href="{{ common.url }}">[{{ common.type | replace: 'x-','' | replace: '-',' ' |  capitalize }}]({{ common.url }})</a></li>
              {% endfor %}
              </ul>

            {% assign api_action_url = '' %}
            {% assign numberofapis = apijson.apis | size %}

            {% if numberofapis > 0 %}

                  {% for api in apijson.apis %}

                    {% for property in api.properties %}
                      {% if property.type == 'x-openapi-spec' %}

                        {% assign openapi_spec_url = property.url %}
                        {% assign pathname = openapi_spec_url | replace: site.raw_url,'' %}
                        {% assign pathname = pathname | replace: '_data/api-commons/','' %}
                        {% assign pathname = pathname | replace: '.yaml','' %}
                        {% assign pathname = pathname | replace: '.json','' %}
                        {% assign pathname = pathname | replace: '/','.' %}
                        {% assign pathname = pathname | replace: 'api-commons.','' %}
                        {% assign pathname_array = pathname | split: '.' %}
                        {% assign pathname = pathname_array[0] %}
                        {% for entry in contents %}
                          {% assign thisname = entry[0] %}
                          {% assign thisentry = entry[1] %}
                          {% if thisname == pathname %}
                            {% assign openapi_spec_json = thisentry %}
                          {% endif %}
                        {% endfor %}

                      {% endif %}
                    {% endfor %}


                    <p><strong>{{ api.name }}</strong>{% if openapi_spec_url != null and openapi_spec_url != empty %}([<a href="{{ openapi_spec_url }}" target="_blank" title="View OpenAPI Spec" style="font-size: 16px; font-weight: normal;">OpenAPI Spec</a>]({{ openapi_spec_url }})){% endif %}</p>

                    <ul>
                    {% for spec in openapi_spec_json %}
                      {% if spec[1].swagger == '2.0' %}
                        {% for path in spec[1].paths %}

                          {% assign this_path = path[0] %}
                          {% assign method_json = path[1] %}

                          {% for method in method_json %}

                            {% assign tagarray = method[1].tags %}
                            {% assign tag = tagarray[0] %}

                            {% assign verb = method[0] | upcase %}

                            {% if verb == 'GET' %}
                              {% assign back_color = site.get_color %}
                            {% endif %}
                            {% if verb == 'POST' %}
                              {% assign back_color = site.post_color %}
                            {% endif %}
                            {% if verb == 'PUT' %}
                              {% assign back_color = site.put_color %}
                            {% endif %}
                            {% if verb == 'DELETE' %}
                              {% assign back_color = site.delete_color %}
                            {% endif %}

                            {% assign summary = method[1].summary %}

                            <li>{{ summary }} - {{ this_path }} ({{ verb }})</li>

                          {% endfor %}

                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  </ul>

                  {% endfor %}

            {% endif %}

        {% endif %}
      {% endfor %}

    {% endif %}

  {% endfor %}

{% endfor %}

</div>
